body, html {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}



.circle-carousel {
  .__circle_item {
    display: none;

    &.__buffer {
      display: block;
      opacity: 0.5;
      font-size: 13px;
    }
    
    &.middle_prev_2 { font-size: 14px; }
    &.middle_prev_1 { font-size: 20px; }
    &.middle { font-size: 24px; color: teal }
    &.middle_next_1 { font-size: 20px; }
    &.middle_next_2 { font-size: 14px; }

    &.middle, &.middle_prev_1,
    &.middle_prev_2, &.middle_next_1,
    &.middle_next_2 {
      display: block;
    }

  }
}